{#
    Copyright (c) 2023 Coalesce. All rights reserved.
This script and its associated documentation are confidential and proprietary to Coalesce.
Unauthorized reproduction, distribution, or disclosure of this material is strictly prohibited.
Coalesce permits you to copy and modify this script for the purposes of using with Coalesce but
does not permit copying or modification for any other purpose.  
#}
{# == Node Type Name           : Iceberg tables == #}
{# == Node Type Description    :  == #}


{% if config.schrefresh == false %}

        {{ stage('Refresh data -Externally managed Iceberg table ' + name | string ) }}
       
	   {%if config.tcatalog == 'AWS Glue' %}
		
		ALTER ICEBERG TABLE {{ ref_no_link(node.location.name, node.name) }} REFRESH

	   {%elif config.tcatalog == 'Object storage' %}
        
		ALTER ICEBERG TABLE {{ ref_no_link(node.location.name, node.name) }} REFRESH '{{config.metafilepath}}'

	   {%endif%}

{% else %}

    {{ stage('Task Mode - No Manual Refresh') }}
    -- This node is configured to run as a Scheduled Task Refresh
    -- Manual Run is only available when Schedule Refresh is disabled
    -- To see latest result, wait for the scheduled refresh to occur.
    SELECT 1 AS INFO_MESSAGE WHERE FALSE
    
{%endif%}