{#
    Copyright (c) 2026 Coalesce. All rights reserved.
This script and its associated documentation are confidential and proprietary to Coalesce.
Unauthorized reproduction, distribution, or disclosure of this material is strictly prohibited.
Coalesce permits you to copy and modify this script for the purposes of using with Coalesce but
does not permit copying or modification for any other purpose.  
#} 
{# == Node Type Name           : External Iceberg REST table == #}
{# == Node Type Description    : Points to External Iceberg table and enables Insertion == #}

{# Parameter Check for Deployment #}
{%- if desiredState and currentState != desiredState 
    and desiredState.config.schrefresh and desiredState.config.syncTable
    and desiredState.config.schedulingMode == 'Warehouse Task' %}
    {%- if desiredState.parameters == {} 
        or 'targetTaskWarehouse' not in desiredState.parameters
        or desiredState.parameters.targetTaskWarehouse == '' %}
        {{ stage('WARNING') }}
        /* Add parameter targetTaskWarehouse in workspace settings and deployment environment for successful execution of node.
        The default value for the parameter is 'DEV ENVIRONMENT'.
        For more information, refer to the documentation. */
    {%- endif %}
{%- endif %}

{# First. Create Iceberg table #}
{%- if desiredState != undefined %}

    {%- if currentState != undefined and currentState.node.nodeType != desiredState.node.nodeType %}
        {%- set warningMsg = getNodeTypeSwitchWarning() | default('') %}

        {# Warning display - Node type changes can impact related tasks, streams, or services. #}
        {%- if warningMsg | trim | length > 0 -%}
            {{ stage('Warning! Node Type Switching Detected', false) }}
            {{ warningMsg }}
            select 1=0
        {%- endif -%}
    {%- endif -%}

    {%- if (currentState == undefined) or (currentState != undefined and currentState != desiredState) %}

        {%- set autoRefresh = desiredState.config.autoRefresh | default(false) %}    {# Auto Refresh #}
        {%- set replaceInvalidChars = desiredState.config.replaceInvalidChars | default(false) %}    {# Invalid characters #}
        
        {{ stage('Create Iceberg Table') }}
        {%- if desiredState.config.schemaTable %}
            {%- set targetFileSize = desiredState.config.targetFileSize | default('AUTO') %}    {# File Size #}
            CREATE OR REPLACE {{desiredState.node.materializationType}} {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) | replace('"', '') }}
            (
                {%- for col in desiredState.columns %}
                    {{ col.name }} {{ icebergcoldatatype(col.dataType) }}
                    {%- if not col.nullable %} NOT NULL
                        {%- if col.defaultValue | length > 0 %} DEFAULT {{ col.defaultValue }} {%- endif %}
                    {%- endif %}
                    {%- if col.description | length > 0 %} COMMENT '{{ col.description | escape }}' {%- endif %}
                    {%- if not loop.last -%}, {% endif %}
                {%- endfor %}
            )
            {{ get_partition_by() }}
            {% if targetFileSize %} TARGET_FILE_SIZE = {{ targetFileSize if targetFileSize == 'AUTO' else "'" ~ targetFileSize ~ "'" }} {%- endif %}
            
        {%- else %}

            {%- set extvol = resolve_env_parameter(parameters.targetExternalVolume, desiredState.config.extvolume) %}
            {%- set catalogval = resolve_env_parameter(parameters.targetRESTCatalogIntegration, desiredState.config.catint) %}
            {%- set catalogtablename = resolve_env_parameter(parameters.targetCatalogTableName, desiredState.config.cattable if desiredState.config.cattable | trim | length > 0 else node.name) %}
            {%- set catalogdbname = resolve_env_parameter(parameters.targetCatalogNamespace, desiredState.config.catdb) %}

            CREATE OR REPLACE {{desiredState.node.materializationType}} {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }}
            {% if extvol | length > 0 %} EXTERNAL_VOLUME = '{{ extvol }}' {%- endif %}
            {% if catalogval | length > 0 %} CATALOG = '{{ catalogval }}' {%- endif %}
            {% if catalogtablename | length > 0 %} CATALOG_TABLE_NAME = '{{ catalogtablename }}' {%- endif %}
            {% if catalogdbname  | length > 0 %} CATALOG_NAMESPACE = '{{ catalogdbname }}' {%- endif %}

        {%- endif %}
        {% if desiredState.node.description | length > 0 %} COMMENT = '{{ desiredState.node.description | escape }}' {%- endif %}
        {% if autoRefresh %} AUTO_REFRESH = TRUE {%- endif %}
        {% if replaceInvalidChars %} REPLACE_INVALID_CHARACTERS = TRUE {%- endif %}
    {%- endif %}
 
{%- elif currentState != undefined and desiredState == undefined %}

    {%- if desiredState.config.schemaTable %}
        {%- set fullyQualifiedTargetObjectName = ref_no_link(currentState.node.location.name, currentState.node.name) | replace ('"', '') %}
    {%- else %}
        {%- set fullyQualifiedTargetObjectName = ref_no_link(currentState.node.location.name, currentState.node.name) %}
    {%- endif %}

    {{ stage('Drop iceberg table') }}
    DROP ICEBERG TABLE IF EXISTS {{ fullyQualifiedTargetObjectName }}
	  
{%- endif %}

{# Second. Create Task #}
{%- if desiredState != undefined %}
    {%- if currentState == undefined or (currentState != undefined and currentState != desiredState)  %}

        {# Target Table Info #}
        {%- set targetTableDatabase = ref_no_link(desiredState.node.location.name, desiredState.node.name).split('.')[0] %} 
        {%- set targetTableSchema = ref_no_link(desiredState.node.location.name, desiredState.node.name).split('.')[1] %} 
        {%- set fullyQualifiedTargetTableName = ref_no_link(desiredState.node.location.name, desiredState.node.name) %}

        {%- if desiredState.config.schrefresh and not desiredState.config.schemaTable %}
            {%- if desiredState.config.schedulePeriodOption == 'Predecessor' %} 
                {%- set fullyQualifiedRootTaskName = targetTableDatabase + '.' + targetTableSchema + '."' + desiredState.config.rootTask + '"' %} 
                {{ stage('Suspend Root Task') }}
                ALTER TASK {{ fullyQualifiedRootTaskName }} SUSPEND
            {%- endif %}

            {{ stage('Create Task') }}
            {# Set Namespace Variables #}
            {%- set nsVariables = namespace(taskWhenRun="") %}
            {%- set nsVariables = namespace(poll="WHEN ") %}

            {# Task Info #}
            {%- set taskName = desiredState.node.name + '_TASK'  %}
            {%- set fullyQualifiedTaskName = targetTableDatabase + '.' + targetTableSchema + '."' + taskName + '"' %} 

            {# Task Type #}
            {%- if desiredState.config.schedulingMode == 'Warehouse Task' %} 
                {# Can be updated during deployment via a parameter to account for different warehouse names in different deployments #}

                {%- if 'targetTaskWarehouse' in desiredState.parameters %}
                {%- if desiredState.parameters.targetTaskWarehouse == 'DEV ENVIRONMENT' %}
                    {%- set taskType = 'WAREHOUSE = ' + desiredState.config.whName %}
                {%- else %}
                    {%- set taskType = 'WAREHOUSE = ' + desiredState.parameters.targetTaskWarehouse %}
                {%- endif %}
                {%- endif %}
            {%- else %}
                {%- set taskType = 'USER_TASK_MANAGED_INITIAL_WAREHOUSE_SIZE = ' + getServerSize(desiredState.config.serverlessSize) %} 
                {%- if desiredState.config.sizeBoundToggle %}
                        {%- set minSrvSize = 'SERVERLESS_TASK_MIN_STATEMENT_SIZE = ' + getServerSize(desiredState.config.minServerlessSize) %}
                        {%- set maxSrvSize = 'SERVERLESS_TASK_MAX_STATEMENT_SIZE = ' + getServerSize(desiredState.config.maxServerlessSize) %}
                {%- endif %}
            {%- endif %}
            
            {%- set nsTaskVar = namespace(nodeComment='',
                                        userServiceAcct='',
                                        suspendTask='',
                                        autoTry='',
                                        overLapExec='',
                                        configJSON='',
                                        errorIntegration='',
                                        successIntegration='') %}
            {{ getadvancedTaskOptions(nsTaskVar) }}

            {# Schedule Type #}
            {%- if desiredState.config.schedulePeriodOption == 'Minutes' %} 
                {%- set execValue = desiredState.config.get('execTime').get('items')
                                        | map(attribute='value')
                                        | first %}
                {%- set execPeriod = desiredState.config.get('execTime').get('items')
                                        | map(attribute='period')
                                        | first %}
                {%- set nsVariables.taskWhenRun = 'SCHEDULE = ' + "'" + execValue | trim ~ ' ' ~ execPeriod | trim + "'" %}
            {%- elif desiredState.config.schedulePeriodOption == 'CRON' %}
                {%- set nsVariables.taskWhenRun = 'SCHEDULE = ' + "'" + 'USING CRON ' + desiredState.config.scheduleCRON | trim + "'" %}
            {%- else %}
                {%- set nsVariables.taskWhenRun = 'AFTER ' %}
                {%- set predecessorTasks = (desiredState.config.predTask).split(",") %}

                {%- for p in predecessorTasks %}
                    {%- set nsVariables.taskWhenRun = nsVariables.taskWhenRun + targetTableDatabase + '.' + targetTableSchema + '.' + p %}
                    {%- if not loop.last %} 
                        {%- set nsVariables.taskWhenRun = nsVariables.taskWhenRun + ',' %}
                    {%- endif %}
                {%- endfor %}    
            {%- endif %}

            {%- set insertType = 'INSERT OVERWRITE' if desiredState.config.truncateBefore else 'INSERT' -%}

            CREATE OR REPLACE TASK 
                {{ fullyQualifiedTaskName }} 
                {{ taskType}} 
            {%- if desiredState.config.schedulingMode == 'Serverless Task' and desiredState.config.sizeBoundToggle %}
                    {{ minSrvSize }}
                    {{ maxSrvSize }}
                {%- endif %}
                {{ nsTaskVar.nodeComment }}
                {{ nsVariables.taskWhenRun }}
                {%- if desiredState.config.schedulePeriodOption != 'Predecessor' %}
                    {{ nsTaskVar.overLapExec }}
                    {%- if desiredState.config.autoSuspendToggle %}
                        {{ nsTaskVar.suspendTask }}
                    {%- endif %}
                    {%- if desiredState.config.autoRetryToggle %}
                        {{ nsTaskVar.autoTry }}
                    {%- endif %}
                    {%- if desiredState.config.taskGraphToggle %}
                        {{ nsTaskVar.configJSON }}
                    {%- endif %}
                    {%- if desiredState.config.errNotifyToggle %}
                        {{ nsTaskVar.errorIntegration }}
                    {%- endif %}
                    {%- if desiredState.config.successNotifyToggle %}
                        {{ nsTaskVar.successIntegration }}
                    {%- endif %}
                {%- endif %}
                {%- if desiredState.config.spfcUserToggle %}
                    {{ nsTaskVar.userServiceAcct }}
                {%- endif %} 
                {%- if nsVariables.poll != 'WHEN ' %} {{ nsVariables.poll }} {%- endif %}
            AS
		
            {%- for source in sources %}
                {{ insertType }} INTO {{ ref_no_link(node.location.name, node.name) }}
                (
                    {%- for col in source.columns %}
                        "{{ col.name }}"
                        {%- if not loop.last -%},{%- endif %}
                    {%- endfor %}
                )
                (
                    SELECT
                    {%- if desiredState.config.selectDistinct %} DISTINCT {%- endif %}
                    {%- for col in source.columns %}
                        {{ get_source_transform(col) }} AS "{{ col.name }}"
                        {%- if not loop.last -%}, {%- endif %}
                    {%- endfor %}

                    {{ source.join }}
                    {%- if desiredState.config.groupByAll %} GROUP BY ALL {%- endif %}
                    {{ sortorder_by_colv() }}
                )
                {%- if desiredState.config.insertStrategy in ['UNION', 'UNION ALL'] and not loop.last %}
                    {{ desiredState.config.insertStrategy }}
                {%- endif %}
            {%- endfor %}

            {%- if desiredState.config.schedulePeriodOption != 'Predecessor' %} 
                {{ stage('Resume Task') }}
                ALTER TASK {{ fullyQualifiedTaskName }} RESUME;
            {%- endif %}
        {%- endif %}
    {%- endif %}

{%- elif currentState != undefined and desiredState == undefined %}

    {# Target Table Info #}
    {%- set targetTableDatabase = ref_no_link(currentState.node.location.name, currentState.node.name).split('.')[0] %} 
    {%- set targetTableSchema = ref_no_link(currentState.node.location.name, currentState.node.name).split('.')[1] %} 

    {%- if currentState.config.schrefresh and not desiredState.config.schemaTable %}
        {# FQ Root Task name #}
        {%- set fullyQualifiedRootTaskName = targetTableDatabase + '.' + targetTableSchema + '."' + currentState.config.rootTask + '"'%}

        {# Task Info #}
        {%- set taskName = currentState.node.name + '_TASK' %}
        {%- set fullyQualifiedTaskName = targetTableDatabase + '.' + targetTableSchema + '."' + taskName + '"' %} 

        {%- if currentState.config.schedulePeriodOption == 'Predecessor' %} 
        {{ stage('Suspend Root Task') }}
            ALTER TASK IF EXISTS {{ fullyQualifiedRootTaskName }} SUSPEND
        {{ stage('Drop Current Task') }}
            DROP TASK IF EXISTS {{ fullyQualifiedTaskName }} 
        {%- else %}
        {{ stage('Drop Current Task') }}
            DROP TASK IF EXISTS {{ fullyQualifiedTaskName }} 
        {%- endif %}
    {%- endif %}

{%- endif %}